{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Web Intelligence</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/slides.css" />
    <script type="text/javascript" src="../../static/js/slides.min.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1485935-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </head>
  <body>
    <div id="slides">
        <div>
            <h1>Web Intelligence</h1>
            <h2>To Solve Aging</h2>
            <h3>Combining human and machine intelligence</h3>
            <h3>To conquer aging together</h3>
             <self></self>
        </div>
        <div>
            <h1>How to Defeat Aging?</h1>
            <h2>Organization</h2>
            <h3>⇓</h3>
            <h2>Computation</h2>
            <h3>⇓</h3>
            <h2>Experiments</h2>
        </div>
        <div>
            <h1>Roadmap</h1>
            <h2>... To Lifespan Extension</h2>
            <h3>International Longevity Alliance (ILA)</h3>
            <h3>IT Platform: a Denigma</h3>
            <h3>Automated Testing Center</h3>
            <img src="{% static 'img/light.png' %}">
        </div>
        <div>
            <h1>Post-Genomic Era</h1>
            <h3>Digital revolution</h3>
            <h3>Data increases rapidly</h3>
            <h3>Opportunity to decode aging</h3>
            <img src="{% static 'img/DNA_information.png' %}">
        </div>
        <div>
            <h1>Denigma</h1>
            <h2>The Digital Enigma</h2>
            <h3>The Digital Decipher Machine</h3>
            <img src="{% static 'img/denigma_logo.png' %}">
        </div>
        <div>
            <h1>Aspects</h1>
            <h2>Science</h2>
            <h2>Programming</h2>
            <h2>Design</h2>
            <img src="{% static 'img/logic-and-reasoning-skills.png' %}">
        </div>
        <div>
            <h1>Machine Learning</h1>
            <h2></h2>
            <h3>Reverse-engineering aging computational</h3>
            <h3>Towards creation of an AI to solve aging</h3>
            <img src="{% static 'img/hal.png' %}">
        </div>
        <div>
            <h1>Crowdsourcing</h1>
            <img src="{% static 'img/crowdsourcing.png' %}">
            <h2>"Open Distributed Science for Aging Research"</h2>
            <li>Decomposition of problem into subproblems</li>
            <li>Outsourcing tasks to solve subproblems</li>
            <li>Recomposition of subsolutions to solution</li>
        </div>
        <div>
           <h1>SENS KB</h1>
           <h3>Ontological repository for</h3>
               <li>Molecular to physiological changes</li>
               <li>Potential therapies</li>
               <li>Evidence for propositions</li>
           <h3>Will be used to</h3>
              <li>Manage SENS research</li>
              <li>Prioritize therapeutic targets</li>
              <li>Document and analyse existing knowledge</li>
           <h3>Currently under beta test</h3>
        </div>
        <div>
            <h1>Call For Contribution</h1>
            <h3>Source code: http://github.com/denigma</h3>
            <h3>Mailing List: denigma@googlemail.com</h3>
            <h3>IRC channel at #denigma (http://denigma.de/chat)</h3>
            <img src="{% static 'img/red-glass-sphere.png'  %}">
        </div>
        <div>
            <h1>Crowdfunding</h1>
            <h3>Lifespan Experiments</h3>
            <h3>Testing Predictions</h3>
            <img src="{% static 'img/mouse.png' %}">
        </div>
    </div>
    <script type="text/javascript">
      App = new Slides(byId('slides'));
    </script>
	</body>
</html>
